image:
  name: klakegg/hugo:0.145.0
 

stages:
  - build
  - deploy

variables:
  GIT_SUBMODULE_STRATEGY: recursive

build:
  stage: build
  script:
    - hugo mod get -u
    - hugo --minify --cleanDestinationDir
  artifacts:
    paths:
      - public

pages:
  stage: deploy
  script:
    - echo "Deploying"
  artifacts:
    paths:
      - public
  only:
    - main