image:
  name: klakegg/hugo:latest
  entrypoint: [""]

stages:
  - build
  - deploy

variables:
  GIT_SUBMODULE_STRATEGY: recursive

build:
  stage: build
  script:
    - hugo --minify
  artifacts:
    paths:
      - public

pages:
  stage: deploy
  script:
    - echo "Deploying"
  artifacts:
    paths:
      - public
  only:
    - main