image:
  name: klakegg/hugo:0.150.0-ext
  entrypoint: [""]

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build

pages:
  stage: build
  script:
    - hugo version
    - hugo --minify
  artifacts:
    paths:
      - public
  only:
    - main