image:
  name: registry.gitlab.com/pages/hugo/hugo_extended:0.150.0
  entrypoint: [""]

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build

pages:
  stage: build
  script:
    - hugo --minify
  artifacts:
    paths:
      - public
  only:
    - main